<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <title>Grid_uy_ishi</title>
</head>
<body>
    <div class="container">

        <section class="card__section__container row">
            <!-- card__box__1 -->
            <div class="card__box col-12 col-sm-12 col-md-6 col-lg-4">
              <div class="card__box__heart">
                <i class="fa-regular fa-heart"></i>
              </div>
              <div class="card__box__image"></div>
              <div class="card__box__star__icons">
                <!-- 1 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 2 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 3 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 4 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 5 -->
                <span class="box__star__icon">
                  <i class="fa-regular fa-star-half-stroke"></i>
                </span>
                <span class="box__star__icon__text">(123)</span>
              </div>
              
              <p class="card__box__paragraph">
                Seedra Cilantro Seeds for Planting Indoor and Outdoor
              </p>
    
              <div class="card__box__down">
                <div class="box__cost">&dollar;12.56</div>
                <button class="cart__shopping">
                  <i class="fa-solid fa-cart-shopping"></i>
                </button>
              </div>
            </div>
             <!-- card__box__2 -->
             <div class="card__box col-12 col-sm-12 col-md-6 col-lg-4">
              <div class="card__box__heart">
                <i class="fa-regular fa-heart"></i>
              </div>
              <div class="card__box__image"></div>
              <div class="card__box__star__icons">
                <!-- 1 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 2 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 3 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 4 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 5 -->
                <span class="box__star__icon">
                  <i class="fa-regular fa-star-half-stroke"></i>
                </span>
                <span class="box__star__icon__text">(123)</span>
              </div>
              
              <p class="card__box__paragraph">
                Seedra Cilantro Seeds for Planting Indoor and Outdoor
              </p>
    
              <div class="card__box__down">
                <div class="box__cost">&dollar;12.56</div>
                <button class="cart__shopping">
                  <i class="fa-solid fa-cart-shopping"></i>
                </button>
              </div>
            </div>
             <!-- card__box__3 -->
             <div class="card__box col-12 col-sm-12 col-md-6 col-lg-4">
              <div class="card__box__heart">
                <i class="fa-regular fa-heart"></i>
              </div>
              <div class="card__box__image"></div>
              <div class="card__box__star__icons">
                <!-- 1 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 2 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 3 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 4 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 5 -->
                <span class="box__star__icon">
                  <i class="fa-regular fa-star-half-stroke"></i>
                </span>
                <span class="box__star__icon__text">(123)</span>
              </div>
              
              <p class="card__box__paragraph">
                Seedra Cilantro Seeds for Planting Indoor and Outdoor
              </p>
    
              <div class="card__box__down">
                <div class="box__cost">&dollar;12.56</div>
                <button class="cart__shopping">
                  <i class="fa-solid fa-cart-shopping"></i>
                </button>
              </div>
            </div>
              <!-- card__box__4 -->
              <div class="card__box col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card__box__heart">
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="card__box__image"></div>
                <div class="card__box__star__icons">
                  <!-- 1 -->
                  <span class="box__star__icon">
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <!-- 2 -->
                  <span class="box__star__icon">
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <!-- 3 -->
                  <span class="box__star__icon">
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <!-- 4 -->
                  <span class="box__star__icon">
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <!-- 5 -->
                  <span class="box__star__icon">
                    <i class="fa-regular fa-star-half-stroke"></i>
                  </span>
                  <span class="box__star__icon__text">(123)</span>
                </div>
                
                <p class="card__box__paragraph">
                  Seedra Cilantro Seeds for Planting Indoor and Outdoor
                </p>
      
                <div class="card__box__down">
                  <div class="box__cost">&dollar;12.56</div>
                  <button class="cart__shopping">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </button>
                </div>
              </div>
                <!-- card__box__5 -->
             <div class="card__box col-12 col-sm-12 col-md-6 col-lg-4">
              <div class="card__box__heart">
                <i class="fa-solid fa-heart"></i>
              </div>
              <div class="card__box__image"></div>
              <div class="card__box__star__icons">
                <!-- 1 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 2 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 3 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 4 -->
                <span class="box__star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <!-- 5 -->
                <span class="box__star__icon">
                  <i class="fa-regular fa-star-half-stroke"></i>
                </span>
                <span class="box__star__icon__text">(123)</span>
              </div>
              
              <p class="card__box__paragraph">
                Seedra Cilantro Seeds for Planting Indoor and Outdoor
              </p>
    
              <div class="card__box__down">
                <div class="box__cost">
                  <span class="icon__fire">
                    <i class="fa-solid fa-fire"></i>
                  </span>
                  &dollar;12.56
                  <div class="advert-left__skidka">&dollar;15.56</div>
                </div>
                <button class="cart__shopping">
                  <i class="fa-solid fa-cart-shopping"></i>
                </button>
              </div>
            </div>
              <!-- card__box__6 -->
              <div class="card__box col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card__box__heart">
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="card__box__image"></div>
                <div class="card__box__star__icons">
                  <!-- 1 -->
                  <span class="box__star__icon">
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <!-- 2 -->
                  <span class="box__star__icon">
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <!-- 3 -->
                  <span class="box__star__icon">
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <!-- 4 -->
                  <span class="box__star__icon">
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <!-- 5 -->
                  <span class="box__star__icon">
                    <i class="fa-regular fa-star-half-stroke"></i>
                  </span>
                  <span class="box__star__icon__text">(123)</span>
                </div>
                
                <p class="card__box__paragraph">
                  Seedra Cilantro Seeds for Planting Indoor and Outdoor
                </p>
      
                <div class="card__box__down">
                  <div class="box__cost">&dollar;12.56</div>
                  <button class="cart__shopping">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </button>
                </div>
              </div>
    
          </section>
    </div>
</body>
</html>