<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/> 
    <!-- <link rel="stylesheet" href="../node_modules/jquery/dist/jquery.slim.min.js"/>
    <link rel="stylesheet" href="../node_modules/@popperjs/core/dist/umd/popper.min.js"/> -->
    <link rel="stylesheet" href="../../css/style.css"/>


    <!--
         https://www.figma.com/file/hu1HRmYVTfHAt9M6tLl4lH/Untitled?node-id=0%3A1
    -->
    <title>Grid_uy_ishi__2</title>
</head>
<body>
   <!-- HEADER -->
   <header>
    <nav class="navbar navbar-expand-lg navbar-light p-3">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">ALL PRODUCTS <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT SEEDRA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">OUR BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACTS</a>
              </li>
            <li class="nav-item dropdown">
              <a href="facebook.com" class="nav-link">
                <span class="icon">
                    <i class="fa-brands fa-instagram-square"></i>
                </span>
                <span class="icon">
                    <i class="fa-brands fa-facebook"></i>
                  </span>
              </a>
            </li>
          </ul>
          <form class="form-inline">
              <input type="search" class="form-control" placeholder="Search">
          </form>
        </div>
      </nav>
         
 </header>

 <!-- main -->
 <div class="container">
   <main>
    <section class="corn__product">
      <div class="corn__product__left">
        
      </div>
      <div class="corn__product__right">
        <div class="right__title">SEEDRA Corn - Bodacious Hybrid Seeds for Indoor and Outdoor Planting</div>
        <div class="right__icons">
          <div class="product__section__icons">
            <!-- 1 -->
            <div class="product__icon">
              <span class="icon">
                <i class="fa-brands fa-envira"></i>
              </span>
              <span class="icon__text">ALL</span>
            </div>
            <!-- 2 -->
            <div class="product__icon">
              <span class="icon">
                <i class="fa-solid fa-copy"></i>
              </span>
              <span class="icon__text">BUNDLES</span>
            </div>
        </div>

        <div class="pack__label">
          <label for="pack1">
            <div class="pack__left">
              <input type="radio" name="pack1" id="pack1"/>
              <span class="pack__text">1 pack</span>
            </div>
            <div class="pack__right">
              <span class="pack__right__cost__text">start from</span>
              <span class="pack__right__cost">&dollar;1.56</span>
            </div>
          </label>
          <!-- 2 -->
          <label for="pack2">
            <div class="pack__left">
              <input type="radio" name="pack1" id="pack2"/>
              <span class="pack__text">2 pack</span>
            </div>
            <div class="pack__right">
              <span class="pack__right__cost__text">start from</span>
              <span class="pack__right__cost">&dollar;1.56</span>
            </div>
          </label>
          <!-- 3 -->
          <label for="pack3">
            <div class="pack__left">
              <input type="radio" name="pack1" id="pack3"/>
              <span class="pack__text">3 pack</span>
            </div>
            <div class="pack__right">
              <span class="pack__right__cost__text">start from</span>
              <span class="pack__right__cost">&dollar;1.56</span>
            </div>
          </label>
          <!-- 4 -->
          <label for="pack4">
            <div class="pack__left">
              <input type="radio" name="pack1" id="pack4"/>
              <span class="pack__text">4 pack</span>
            </div>
            <div class="pack__right">
              <span class="pack__right__cost__text">start from</span>
              <span class="pack__right__cost">&dollar;1.56</span>
            </div>
          </label>
          <!-- 5 -->
          <label for="pack5">
            <div class="pack__left">
              <input type="radio" name="pack1" id="pack5"/>
              <span class="pack__text">5 pack</span>
            </div>
            <div class="pack__right">
              <span class="pack__right__cost__text">start from</span>
              <span class="pack__right__cost">&dollar;1.56</span>
            </div>
          </label>
        </div>
        <div class="pack__right__down">
          <span class="pack__right__cost">&dollar;15.56</span>
          <span class="pack__right__big__cost">&dollar;12.56</span>
        </div>
      </div>
    </section>
     
    <section class="product__information">
      <ul>
        <div class="product__information__title">
          Product information.
        </div>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, veniam!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe qui fuga id animi aperiam quod!</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad sapiente reprehenderit omnis, voluptatum quis obcaecati magnam sunt corporis voluptatibus.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vero omnis, eaque, cumque tenetur voluptate quas magni tempora accusamus mollitia maiores possimus saepe deleniti fugit?</li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, veniam.</li>
      </ul>
      <div class="product__information__right">
        <span class="right__text">Package Dimensions</span>
        <span class="right__text">Package Dimensions</span>
        <span class="right__text">Package Dimensions</span>
      </div>
    </section>
    <!-- section frequently__asked__questions -->
    <section class="frequently">
      <div class="frequently__left">
        <div class="frequently__title">Frequently asked questions.</div>
        <div class="left__box">For seller: are these seeds organic? it does matter if they are organic, seeds can hold pesticides from the plant they grow from.</div>
        <!-- 2 -->
        <div class="left__box">For seller: are these seeds organic? it does matter if they are organic, seeds can hold pesticides from the plant they grow from.</div>
        <!-- 3 -->
        <div class="left__box">For seller: are these seeds organic? it does matter if they are organic, seeds can hold pesticides from the plant they grow from.</div>
        <!-- 4 -->
        <div class="left__box">For seller: are these seeds organic? it does matter if they are organic, seeds can hold pesticides from the plant they grow from.</div>
      </div>
      <div class="frequently__right">

      </div>
    </section>

    <!-- section Customer -->
    <section class="customer">
      <div class="customer__title__container">
        <div class="customer__title">Customer reviews.</div>
        <button class="button button__primary">Make review</button>
      </div>
      <div class="customer__box__container row">
        <div class="customer__box col">
          <div class="box__title">
            <span class="box__title__daraja">4,1</span>
            <div class="box__title__stars">
              <div class="box__title__stars__text">124 reviews</div>
              <div class="star__icons">

                <span class="star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>

                <span class="star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>

                <span class="star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>

                <span class="star__icon">
                  <i class="fa-solid fa-star"></i>
                </span>

                <span class="star__icon">
                  <i class="fa-solid fa-star-half-stroke"></i>
                </span>
              </div>
            </div>
          </div>
          <!-- boxning pastki qismi -->
          <div class="boxning__pastki__qismi">
            <div class="box__skills">
              <span class="box__skills__number">5</span>
              <span class="star__icon">
                <i class="fa-solid fa-star"></i>
              </span>
              <div class="box__skills__foizi"></div>
              <span class="box__skills__number">81</span>
            </div>


          </div>

        </div>

        <!-- 
          2_box
         -->
         
      </div>
    </section>
  </main>
  </div>
<script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>